<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dakota Dalton</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

    <!-- Page Container -->
    <div id="app" class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-third">

                <!-- Picture -->
                <div class="sidebar w3-card-4">
                    <div class="w3-display-container">
                        <img src="img/Dakota1gray.jpg" style="width:100%" alt="Avatar">
                        <div class="name w3-padding w3-round w3-display-bottomleft w3-container">
                            <!-- Name label -->
                            <section>
                                <h2>Dakota Dalton</h2>
                                <p>Student/Software Developer</p>
                            </section>
                        </div>
                    </div>

                    <div class="w3-container">
                        <!-- Contact links -->
                        <p class="info">
                            <a href="mailto:ddalton@protonmail.com">
                                <i class="fa fa-envelope fa-fw w3-margin-right w3-large"></i>ddalton@protonmail.com</a>
                        </p>
                        <p class="info">
                            <a href="https://www.linkedin.com/in/dakota-dalton-a43075152" target="_blank">
                                <i class="fa fa-linkedin fa-fw w3-margin-right w3-large"></i>Dakota Dalton</a>
                        </p>
                        <p class="info">
                            <a href="https://www.github.com/1silvertiger" target="_blank">
                                <i class="fa fa-github fa-fw w3-margin-right w3-large"></i>1silvertiger</a>
                        </p>
                        <p class="info">
                            <a href="https://stackoverflow.com/users/6557798/silvertiger?tab=profile" target="_blank">
                                <i class="fa fa-stack-overflow fa-fw w3-margin-right w3-large"></i>silvertiger</a>
                        </p>
                        <hr>

                        <!-- Skills panel -->
                        <div class="skills-container">

                            <!-- Technical skills -->
                            <section>
                                <h4 class="skill-header">
                                    <b>
                                        <i class="fa fa-desktop fa-fw w3-margin-right "></i>Technical Skills</b>
                                    <i class="fa fa-chevron-down fa-small"></i>
                                </h4>
                                <div id="technical-skills" class="accordion-body">
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">Application development</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:100%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">Full-stack database development</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:90%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">GUI development</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:85%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">Web development</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:85%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">Material design</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:50%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">MVC design</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:70%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">Web forms</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:30%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <!-- Languages panel -->
                            <section>
                                <h4 class="skill-header">
                                    <b>
                                        <i class="fa fa-code fa-fw w3-margin-right "></i>Languages</b>
                                    <i class="fa fa-chevron-down fa-small"></i>
                                </h4>
                                <div id="languages" class="accordion-body">
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">Java</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:100%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">SQL</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:55%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">Python</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:25%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">C#</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:25%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">ASP.NET</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:25%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">HTML5</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:100%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">CSS3</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:100%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">Sass</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:65%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">JavaScript</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:90%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">Bash</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:25%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">CUDA</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:5%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">Assembly</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:25%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </section>

                            <!-- Frameworks panel -->
                            <section>
                                <h4 class="skill-header">
                                    <b>
                                        <i class="fa fa-fw w3-margin-right ">
                                            <b>{ }</b>
                                        </i>Frameworks</b>
                                    <i class="fa fa-chevron-down fa-small"></i>
                                </h4>

                                <div id="frameworks" class="accordion-body">
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">Bootstrap</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:90%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">jQuery</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:85%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">W3.CSS</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:95%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">Materialize CSS</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:80%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>

                                    <br>
                                </div>
                            </section>

                            <!-- Databases panel -->
                            <section>
                                <h4 class="skill-header">
                                    <b>
                                        <i class="fa fa-database fa-fw w3-margin-right "></i>Databases</b>
                                    <i class="fa fa-chevron-down fa-small"></i>
                                </h4>

                                <div id="databases" class="accordion-body">
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">MySQL</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:90%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">Microsoft SQL Server</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:80%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </section>

                            <!-- Platforms panel -->
                            <section>
                                <h4 class="skill-header">
                                    <b>
                                        <i class="fa fa-server fa-fw w3-margin-right "></i>IaaS Platforms</b>
                                    <i class="fa fa-chevron-down fa-small"></i>
                                </h4>

                                <div id="platforms" class="accordion-body">
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">Google Cloud</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:75%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill">
                                        <div class="w3-container">
                                            <p class="skill-title w3-round">Amazon Web Services</p>
                                            <span class="w3-rest"></span>
                                        </div>
                                        <div class="proficiency-bar-background w3-round-xlarge w3-small">
                                            <div class="w3-container w3-center w3-round-xlarge proficiency-bar"
                                                style="width:30%">
                                                <b></b>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>

                            </section>

                        </div>
                    </div>
                </div>
                <br>

                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">

                <!-- Education panel -->
                <section class="section w3-container w3-card-2 w3-margin-bottom">
                    <h2 class="w3-padding-16">
                            <i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge "></i>Education</h2>

                    <div v-for="degree in education" class="w3-container">
                        <h5>{{ degree.institution }} / {{ degree.level }}</h5>
                        <h6 class="date">
                            <i class="fa fa-calendar fa-fw w3-margin-right"></i>{{ degree.beginMonth }} {{ degree.beginYear }} -
                            <span v-if="!degree.endMonth || !degree.endYear" class="current-box w3-round">Present</span>
                            <span v-else>{{ degree.endMonth }} {{ degree.endYear }}</span>
                        </h6>
                        <p class="w3-padding">
                            <i>{{ degree.description }}</i>
                        </p>
                    </div>
                </section>

                <!-- Work experience panel -->
                <section class="section w3-container w3-card-2 w3-margin-bottom">
                    <h2 class="w3-padding-16">
                        <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge"></i>Work Experience</h2>
                    <div v-for="work in workExperience" class="w3-container">
                        <h5>{{work.title}} / {{work.employer}}</h5>
                        <h6 class="date">
                            <i class="fa fa-calendar fa-fw w3-margin-right"></i>{{work.beginMonth}} {{work.beginYear}} -
                            <span v-if="!work.endMonth || !work.endYear" class="current-box w3-round">Present</span>
                            <span v-else>{{work.endMonth}} {{work.endYear}}</span>
                        </h6>
                        <p class="section-text w3-padding">
                            <i>{{ work.description }}</i>
                        </p>
                        <hr>
                    </div>
                </section>

                <!-- Projects panel -->
                <section class="section w3-container w3-card-2">
                    <h2 class="w3-padding-16">
                        <i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge "></i>Projects</h2>

                    <div v-for="project in projects" class="w3-container">
                        <h5>{{ project.title }} / {{ project.summary }}</h5>
                        <h6 class="date">
                            <i class="fa fa-calendar fa-fw w3-margin-right"></i>{{ project.beginMonth }} {{ project.beginYear}} -
                            <span v-if="!project.endMonth || !project.endYear" class="current-box w3-round">Ongoing</span>
                            <span v-else>{{ project.endMonth }} {{ project.endYear }}</span>
                        </h6>
                        <p class="w3-padding">
                            <i>{{ project.description }}</i>
                        </p>
                    </div>
                </section>

                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>

    <footer class="w3-container w3-center w3-margin-top">
        <p>Powered by
            <a href="https://www.w3schools.com/w3css/" target="_blank">w3.css</a>
        </p>
    </footer>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"
    integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" defer></script>
<script src="js/script.js" defer></script>

</html>
